<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jason.boot.specific.rush.dao.LolUserMapper" >
  <resultMap id="BaseResultMap" type="com.jason.boot.specific.rush.entity.LolUser" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="LOGIN_NO" property="loginNo" jdbcType="VARCHAR" />
    <result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="ACCOUNT" property="account" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, LOGIN_NO, NICKNAME, PASSWORD, ACCOUNT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from LOL_USER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LOL_USER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jason.boot.specific.rush.entity.LolUser" >
    insert into LOL_USER (ID, LOGIN_NO, NICKNAME, 
      PASSWORD, ACCOUNT)
    values (#{id,jdbcType=VARCHAR}, #{loginNo,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{account,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.jason.boot.specific.rush.entity.LolUser" >
    insert into LOL_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="loginNo != null" >
        LOGIN_NO,
      </if>
      <if test="nickname != null" >
        NICKNAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="account != null" >
        ACCOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loginNo != null" >
        #{loginNo,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jason.boot.specific.rush.entity.LolUser" >
    update LOL_USER
    <set >
      <if test="loginNo != null" >
        LOGIN_NO = #{loginNo,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        NICKNAME = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        ACCOUNT = #{account,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jason.boot.specific.rush.entity.LolUser" >
    update LOL_USER
    set LOGIN_NO = #{loginNo,jdbcType=VARCHAR},
      NICKNAME = #{nickname,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      ACCOUNT = #{account,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="reduceAccount" parameterType="java.lang.String">
  	update lol_user
   set account = account -
                 (select rush_price from rush_hero where hero_name = #{heroName})
 where login_no = #{loginNo}
  </update>
</mapper>